doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Somos una consultoría empresarial con amplia experiencia en los principales servicios administrativos que su empresa puede requerir, proporcionados por exitosos profesionales a un excelente precio.')
    meta(name='author', content='')
    // Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='../img/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='../img/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='../img/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='../img/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='../img/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='../img/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='../img/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='../img/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='../img/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='../img/favicon/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='../img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='../img/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='../img/favicon/favicon-16x16.png')
    link(rel='manifest', href='../img/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='../img/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    title Expertos en consultoría empresarial 
    // Bootstrap Core CSS
    script(src='../js/bootstrap.min.js')
    link(href='../css/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='../css/animate.css')
    link(rel='stylesheet', href='../css/mstyle.css')
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    // Custom CSS
    style.
      body {
      padding-top: 70px;
      font-family: 'Open Sans', sans-serif;
      /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
      }
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  style.
    body{
    background:url(../img/bg-contacto.png) no-repeat fixed center top;
    /*background-size*/
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    padding-bottom: 400px;
    color: #fff;
    }
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') B&B Consultores
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='nosotros') Nosotros
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Servicios 
                span.caret
              ul.dropdown-menu
                li
                  a(href='contabilidad')
                    i.fa.fa-book  
                    |  Contabilidad
                li
                  a(href='auditoria')
                    i.fa.fa-search  
                    |  Auditorías
                li
                  a(href='finanzas')
                    i.fa.fa-line-chart  
                    |  Finanzas
                li
                  a(href='fiscal')
                    i.fa.fa-university  
                    |  Fiscal
                li
                  a(href='comercio-exterior')
                    i.fa.fa-globe  
                    |  Comercio exterior
                li
                  a(href='gestion')
                    i.fa.fa-file  
                    |  Gestoría
            li
              a(href='aviso') Aviso de privacidad
            li.active
              a(href='#') Contacto
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
        .media
          .media-left.media-middle
            a(href='#')
              img.media-object(src='../img/b&b prototype 3.png', width='251', height='222', alt='...')
          .media-body
            h1.media-heading
              br
              | Contáctenos
            |     Estamos muy complacidos con su visita y muy interesados en conocer su opinión y resolver sus dudas. 
            hr
            |     Por favor, requisite el siguiente formulario y en breve nos comunicaremos con Usted.
        hr
        form#contactForm(name='sentMessage', novalidate='')
          .row
            .col-md-12
              .form-group
                input#name.form-control(type='text', placeholder='Nombre *', required='', data-validation-required-message='Por favor ingresa tu nombre.')
                p.help-block.text-danger
              .form-group
                input#email.form-control(type='email', placeholder='Correo electrónico *', required='', data-validation-required-message='Es necesario un correo electrónico.')
                p.help-block.text-danger
              .form-group
                input#phone.form-control(type='tel', placeholder='Número telefónico *', required='', data-validation-required-message='Ingresa tu número telefónico.')
                p.help-block.text-danger
            .col-md-12
              .form-group
                textarea#message.form-control(placeholder='Tu mensaje *', required='', data-validation-required-message='Por favor ingresa un mensaje.')
                p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              button.btn.btn-xl.btn-primary(type='submit')
                i.fa.fa-send-o
                |   |
                span   enviar
    // /.container
    // jQuery Version 1.11.1
    script(src='../js/wow.min.js')
    script
      new WOW().init();
    script(src='../js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='../js/bootstrap.min.js')
    script(src='../js/jqBootstrapValidation.js')
    script(src='../js/contact_me.js')
