extends layout

block contact
  .row.justify-content-center
    .col-sm-12.col-md-8.col-lg-7.wow.slideInRight
      form(action='/mailing', method='POST').form-contact
        .form-group
          label(for='exampleInputEmail1') Deja tus comentarios
        .form-group
          label(for='exampleTextarea name') Escribe tu nombre
          input.form-control.name(type='text', name='name', id='name',aria-describedby='emailHelp',placeholder='Nombre')
        .form-group
          label(for='exampleInputEmail1mail') Tu Correo
          input.form-control.mail(type='email', name='mail', id='mail',aria-describedby='emailHelp',placeholder='Email')
          label(for='exampleInputNumber') Ingresa tu Numero Telefónico
        .form-group
          input.form-control-number.number(type='number', name='number', id='number', aria-describedby='numberHelp', placeholder='Numero Teléfono')
        .form-group
          label(for='exampleTextarea', id='message') Escribe tu comentario!
          textarea.form-control.message(id='exampleTextarea', name='message', rows='3')
  .row.justify-content-center
    .col-sm-12.col-md-8.col-lg-4
      button#button_page.btn.btn-block.btn-outline-primary.wow.fadeInRight(type='submit') Enviar