extends layout

block content
  .row.justify-content-center
    .col-sm-12.col-md-10.col-lg-12
      h2.first-title.wow.bounceInUp
        strong B&B Consultores
    .col-sm-12.col-md-10.col-lg-9
      p.h4.text-justify.text-white.wow.bounceInDown Somos una Empresa Mexicana constituida en 2011.
        br
        |Con el objeto de proporcionar servicios a la pequeña y mediana empresa. Se localiza en el territorio nacional, específicamente en la 
        strong Ciudad de México
        |, con sucursal en 
        strong Tuxpan, Veracruz
        |  y próximamente en la ciudad de 
        strong Guadalajara, Jalisco.
  .row.justify-content-around
    .col-sm-12.col-md-4.col-lg-4.align-self-center
      img.icon-image.wow.slideInLeft(src='img/cdmx.jpg', width='400', height='280')
    .col-sm-12.col-md-4.col-lg-4
      img.icon-image.wow.slideInUp(src='img/tuxpan.png', width='400', height='280')
    .col-sm-12.col-md-4.col-lg-4
      img.icon-image.wow.slideInRight(src='img/guadalajara.jpg', width='400', height='280')
  .row.justify-content-around
    .col-sm-12.col-md-6.col-lg-4
      p.h2.text-white.text-center.wow.fadeInDown 
        strong Nuestra Misión
        br
      p.text-white.text-justify.wow.fadeIn 
        strong B&B Consultores 
        | tiene como misión , ofrecer productos  y servicios de las más alta calidad, para satisfacer las necesidades de nuestros clientes, cumpliendo con nuestras exigencias de rentabilidad, atravéz de los más altos estándares de calidad, inovación y responsabilidad social.
        br
        |  Nuestros colaboradores y socios, cuentan con amplia experiencia en el ámbito corporativo y empresarial, ocupando puestos Gerenciales y Direcciones Generales. 
    .col-sm-12.col-md-6.col-lg-4
      p.h2.text-white.text-center.wow.fadeInDown
        strong Nuestra Visión
      p.text-white.text-justify.wow.fadeIn Es la de consolidarnos como el mejor grupo de Construcción, Instalación, Mantenimiento y operación para la industria de la construcción.
        br
        |  Nuestro compromiso hacia usted y/o Empresa es total, ya que buscamos obtener, una estrecha relación con todos nuestros clientes, con la finalidad de alcanzar los objetivos establecidos, simultaneamente, detectando y aprovechando nuevas oportunidades de mejora y desarrollo.
  .row.justify-content-center
    .col-sm-12.col-md-12.col-lg-12
      p.h2.text-white.text-center.wow.fadeIn 
        strong B&B Consultores 
        | tiene como valores:
        br
    .col-sm-10.col-md-8.col-lg-4
      ul.list-bnb.wow.fadeInRight
        li Capital humano  
        li Honestidad
        li Trabajo en Equipo
        li Calidad
        li Efectividad
        li Liderazgo
        li Perseverancia
        li Respeto
        li Trabajar por un México mejor
  .row.justify-content-center
    .col-xs-12.col-sm-4.col-md-4.col-lg-4
      button(type='button')#button_page.btn.btn-block.btn-outline-primary.wow.fadeInRight
        a(href='/services') Nuestras Actividades