@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee+Inline|Yellowtail|Shrikhand|Poppins|Roboto+Condensed');

.container-fluid {
  margin:0 !important;
  padding:0 !important;
  background-image: url('/../img/tec.tiff'), radial-gradient(rgba(0,0,0,0.8), black);
  background-blend-mode:color-dodge;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Roboto Condensed', sans-serif !important;
}
.row {
  margin-top: 30px;
}
#logo_image {
  background: rgba(0,0,0,0.4);
  border-radius: 10% 10% 10% 10%;
  max-width: 150px !important;
  max-height:150px !important;
}
#nav-page {
  background: rgba(1,1,1,0.8);
}
#nav-page a {
  color: #90AEE1;
}
.first-title {
  color:white;
  padding-bottom: 30px;
  text-align: center;
}
.icon-image {
  max-width: 100%;
  max-height: auto;
}
.list-bnb {
  color: white;
}
#button_page a {
  color:white;
}
#button_page a:hover {
  text-decoration:none;
  color:white;
}
#card_image {
  max-height: 180px !important;
}
.list-services li {
  list-style: none;
  padding-right: 50px;
}
.card-header {
  background: rgba(0,0,0,0.6) !important;
  color: #C8C0C0;
}
.card-service {
  background: transparent !important;
  color:#AAA1A1;
}
.form-contact {
  color: #AAA1A1; 
}
#name, #mail, #number, .message {
  text-decoration-color: white;
  background: #6D6A6A !important;
  color: #FDE5E5 !important;  
}
